#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr

#forUnity
[Tt]emp/
[Oo]bj/
[Ll]ibrary/
[Bb]uild/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
SceneNameList.cs
SceneNameList.cs.meta
saveData.dat
saveData.dat.meta

Game/Assets/Scenes/Test.unity
Game/Assets/Test/
